.hidden {
  display: none;
}

.table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  font-family: 'Quicksand' sans-serif;
  overflow: hidden;
  font-weight: bold;
  /* Расположим форму по центру страницы */
  margin: 30px auto;
  width: clamp(600px,100%,1600px);
}

.table thead th {
  background-color: #009578;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
  padding: 10px 20px;
}

.table tbody tr:nth-of-type(even) {
  background-color: #eeeeee;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009578;
}

.sort {
  /* Расположим кнопки по центру страницы */
  margin: 0 auto;
  width: clamp(400px,70%,800px);
  text-align: center;
}

form {
  /* Расположим форму по центру страницы */
  margin: 0 auto;
  width: clamp(400px,70%,800px);
  /* Определим контур формы */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

form div {
  margin: 1em 0;
}

label {
  /* Определим размер и выравнивание */
  display: inline-block;
  width: max(90px,30%);
  text-align: right;
}

input,
textarea {
  /* Убедимся, что все поля имеют одинаковые настройки шрифта
     По умолчанию в textarea используется моноширинный шрифт */
  font: 1em sans-serif;

  /* Определим размер полей */
  width: max(300px,65%);
  box-sizing: border-box;

  /* Стилизуем границы полей */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Дополнительная подсветка для элементов в фокусе */
  border-color: #000;
}

textarea {
  /* Выравним многострочные текстовые поля с их текстами-подсказками */
  vertical-align: top;

  /* Предоставим пространство для ввода текста */
  height: 5em;
}

.button {
  /* Выравним кнопки с их текстами-подсказками */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* Этот дополнительный внешний отступ примерно равен расстоянию
     между текстами-подсказками и текстовыми полями */
  margin-left: .5em;
}

#date {
  width: clamp(6em,65%,8em);
}

#hours, #minutes {
  width: clamp(2em,65%,2.5em);
}

#age {
  width: clamp(2em,65%,3.5em);
}

label.minutes {
  width: 0.5em;
}